<div class="navbar navbar-default navbar-fixed-bottom FootNote">
  <div class="container">
    <div class="row">
      <% for(var i=0; i<3; ++i) { %>
      <div class="col-xs-4">
        <div class="NoteBlock ContentBlock">
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
