<% include head %>
<div class="row ControlList">
<div class="col-xs-4 col-xs-offset-4 list-group">
</a>
<a class="list-group-item" href="javascript:jumpview()">
  <h4 class="list-group-item-heading">查看模板</h4>
  <p class="list-group-item-text">输入模板名称，渲染该模板</p>
</a>
<a class="list-group-item" href="/~rst">
  <h4 class="list-group-item-heading">重置状态</h4>
  <p class="list-group-item-text">重置 session, 数据库数据</p>
</a>
</div>
</div>
<% include foot %>