<% include head %>
<div class="container">
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
      <form role="form">
        <div class="form-group">
        </div>
      </form>
    </div>
    <div class="col-xs-3"></div>
  </div>
<div>
<% include foot %>